:root {
    --max-paragraph-size: 60ch;
}
main {
    height:max-content;
}
hgroup {
    
}
hgroup > p {
    margin: 1rem 0 0 0;
    max-width: var(--max-paragraph-size);
}
h3 {
    text-decoration: underline;
    font-size: clamp(1.25rem,calc(1rem + 0.8vw), 1.5rem);
}
hgroup, hgroup+section {
    margin: 2em ;
}
hgroup:nth-of-type(odd) {
    text-align: left;
}
hgroup:nth-of-type(even) {
    text-align: right;
}

