main {
    height: max-content;
}


  
fieldset {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    min-height: 50vh;
    -background: white;
    border: 0.25rem solid black;
    padding: 2rem;
    color: var(--nav-text-color);
    
}
  
legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-turqoise);
    text-align: left;
    margin-bottom: 1rem;
}
  
  
input, select, textarea {
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: hsl(0 0% 100% / .5);
    color: var(--nav-text-color);
    font-family: inherit;
    border:none;
}
  
  
select {
    cursor: pointer;
}
  
textarea {
    resize: vertical;
    min-height: 8rem;
}
  
button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--wine);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
  

  
input:invalid, select:invalid, textarea:invalid {
    border-color: hsl(10 80% 60% / .7);
}