/* ========= Root Variables ========= */
:root {
    --cyan-1: #9AC7BF;
    --cyan-2: #89E3D4;

    --project-body-color-1: var(--glaucous);
   
    --project-hub-background-1: linear-gradient(to left,var(--cyan-1), var(--cyan-2));
    --project-hub-font-color-1: white;
    --project-hub-border-color-1: white;
    --project-hub-border-style-1: 0.5rem ridge var(--project-hub-border-color-1);
    --project-hub-border-style-2: 0.5rem solid var(--project-hub-border-color-1);
}
/* =========== 2. Global Tags ============= */
main {
    height:max-content;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    font-size:1rem;
    color: var(--dark-turqoise);
    text-transform: uppercase;
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
}
/* ========= Project Card Core ========= */
project-card {
    margin: 1rem;
    display: grid;
    gap:0;
    width: 400px;
    height:max-content;
    grid-template-columns: 2fr 1fr;
    border-radius: 0rem;
    border: 0.5rem solid black;
}
/* ========= Project Head ========= */
project-head {
    grid-column:1;
    grid-row:1;
    border-bottom:0.5rem solid black;
}
project-head picture {
    margin:0;
}
/* ========= Project Body ========= */
project-body {
    height:10rem;
    grid-column:1;
    grid-row:2;
    background-color: var(--project-body-color-1);
    
}


/* ========= Project Header ========= */
project-header {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    margin: 0.5rem 0.25rem 1rem;
}
project-header h2 {
    font-size: 1.5rem;
}
project-header h2, project-header time {
    color: white;
}
/* ========= Project Main ========= */
project-main {
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: auto 5rem;
    gap:1rem;
    align-items: start;
}
project-main project-description{
    grid-column:1;
    grid-row:2;
}

project-main project-tech{
    grid-column:2;
    grid-row:2;
    overflow-y: auto;
    overflow-x: visible;
}
/* ========= Project Tech Dropdown ========= */
project-tech details {
    max-height: 100%; 
}
project-tech details summary {
    cursor: pointer;
    font-weight: bold;
}

project-tech details > menu {
    overflow-y:auto;
    display:block;
}

/* ========= Project Link Hub ========= */
project-links {
    grid-column: 2;
    grid-row:1;
}
project-links ul {
    list-style: none;
}
project-links ul li {
    display:flex;
    justify-content:center; 
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    gap:1rem;
    margin: 0 0 2rem 1rem;
    padding: 1rem;
    background: var(--project-hub-background-1);
    background-clip: padding-box;
    border: var(--project-hub-border-style-1);
    border-radius: 10.5%;
}
project-links ul li a {
    color: var(--project-hub-font-color-1);
}