:root {
    --cyan-1: #9AC7BF;
    --cyan-2: #89E3D4;

   
    --project-hub-background-1: linear-gradient(to left,var(--cyan-1), var(--cyan-2));
    --project-hub-font-color-1: white;
    --project-hub-border-color-1: white;
    --project-hub-border-style-1: 0.5rem ridge var(--project-hub-border-color-1);
    --project-hub-border-style-2: 0.5rem solid var(--project-hub-border-color-1);
}
main {
    height:max-content;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    font-size:xx-large;
    color: var(--dark-turqoise);
    text-transform: uppercase;
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
}
project-card {
    display: grid;
    -gap:1rem;
    width: 400px;
    height:max-content;
    grid-template-columns: 2fr 1fr;
    border-radius: 1rem;
    border: 1px solid currentColor;
}
project-links {
    grid-column: 2;
    grid-row:1;
}
project-links ul {
    list-style: none;
}
project-links ul li {
    display:flex;
    justify-content:center; 
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    gap:1rem;
    margin: 0 0 2rem 1rem;
    padding: 1rem;
    background: var(--project-hub-background-1);
    background-clip: padding-box;
    border: var(--project-hub-border-style-1);
    border-radius: 10.5%;
}
project-links ul li a {
    color: var(--project-hub-font-color-1);
}
project-head {
    grid-column:1;
    grid-row:1
}
project-body {
    grid-column:1;
    grid-row:2;
    background-color: aliceblue;

}
/* project-head {
    grid-column: 1 / -1; 
}

project-image figure {
    margin: 0;
}

project-image img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

project-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

project-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

project-links li + li {
    margin-top: 0.5rem;
}

project-links a {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    text-decoration: none;
    border: 1px solid currentColor;
} */

/*
project-card {
    display: block;
    margin: 2rem auto;              
}
  
project-card > figure {
    display: grid;
    justify-items: center;          
    text-align: center;             
}
  
project-card figure > :is(img, iframe) { 
    display: block; 
}
  
project-card figure :is(img, iframe) + figcaption {
    display: block;                 
    margin-top: .5rem;
    max-width: min(60ch, 100%);     
    text-align: center;
}
  
project-card figure > figcaption > a {
    display: inline-block;
    text-align: center;
}
  
project-card figure > figcaption > svg {
    display: block;
    width: 100px;                    
    height: 100px;
    margin: .5rem auto 0;           
}
  
project-card > span {
    display: block;
    margin-top: .5rem;
    text-align: center;
}
  
project-card > h3 { 
    text-align: center; 
}
*/
