main {
    height:max-content;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    font-size:xx-large;
    color: var(--dark-turqoise);
    text-transform: uppercase;
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
}
project-card{
    margin:2rem;
}